<h2>Checkout your tasks below</h2>
<%= link_to "Add new task", :new_task %>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed %>
    <label><input type="checkbox" checked></label>
    <%= link_to task.title, task_path(task)%></li>
    <% else %>
    <label><input type="checkbox"></label>
    <%= link_to task.title, task_path(task)%></li>
  <% end %> 
  <% end %>
</ul>


